<div class="wrapper" [style]="mapBorder">
  <div>
    <div>
      <h1>Maps Shor</h1>
      <div class="flex">
        <button class="arrow" type="button" (click)="setZoom(-1)">-</button>
        <button class="arrow" type="button" (click)="setWidth(-1)">🡆🡄</button>
        <button class="arrow" type="button" (click)="setHeight(1)">🡇</button>
        <button class="arrow" type="button" (click)="setHeight(-1)">🡅</button>
        <button class="arrow" type="button" (click)="setWidth(1)">🡄 🡆</button>
        <button class="arrow" type="button" (click)="setZoom(1)">+</button>
      </div>
    </div>
    <div class="container" id="container" [style]="mapSize">
      <agm-map [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="
            {
                url: '../assets/home.jpg',
                scaledSize: {
                width: 40,
                height: 40
                  }
              }">
          <agm-info-window>Here is the home of Shor family</agm-info-window>

        </agm-marker>
      </agm-map>
      <!-- <div class="inner"></div> -->
    </div>

    <div>
      <img src="../assets/dance.gif" alt="10*10" [style.height]="imgHeight">
    </div>
  </div>
</div>
<router-outlet></router-outlet>